body{
    background-color: var(--primary);

}

.landing-container {
    display: flex;
    flex-direction: column;
}

.main-container {
    margin-top: 5rem;
    border-radius: 1rem;
    background-color:var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    width: 60%;
    padding: 5rem 1rem 5rem;
}

.hero-title {
    color: var(--secondary-purple-light);
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1rem;
    color: var(--text-2);
    margin-bottom: 3rem;
}